@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}
img {
  @apply max-w-full;
}
html,
body {
  @apply w-full h-full;
}
#root {
  @apply w-full h-full;
}
:root {
  --background: #fbfbfb;
  --white: #ffffff;
  --text_primary: #1e1e1e;
  --text_secondary: #6c757d;
}
/* Base Typography */
.h1_pageTitle {
  @apply font-sans text-[32px] font-medium leading-[40px] text-[var(--text_primary)] tracking-[-1px];
}
.body_textRegular {
  @apply font-inter text-[16px] font-normal leading-[24px] text-[var(--text_secondary)] tracking-[0px];
}
