@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}
img {
  @apply max-w-full;
}
html,
body {
  @apply w-full h-full;
}
#root {
  @apply w-full h-full;
}
:root {
  --background: #fbfbfb;
  --white: #ffffff;
  --primary: #2e90fa;
  --text_primary: #1e1e1e;
  --text_secondary: #6c757d;
  --field_stroke_color:#CED4DA; 
}
/* Base Typography */
.h1_pageTitle {
  @apply font-sans text-[32px] font-medium leading-[40px] text-[var(--text_primary)] tracking-[-1px];
}
.body_textRegular {
  @apply font-inter text-[16px] font-normal leading-[24px] text-[var(--text_secondary)] tracking-[0px];
}
.inputField_tableHeader {
  @apply font-inter text-[14px] font-medium leading-[22px] text-[var(--text_primary)] tracking-[0px];
}
.caption_meta {
  @apply font-inter text-[12px] font-normal leading-[18px] text-[var(--text_secondary)] tracking-[0px];
}
.caption_metaRightPrimary {
  @apply font-inter text-[12px] font-normal leading-[18px] text-[var(--primary)] text-right tracking-[0px];
}
.button_cta {
  @apply font-inter text-[16px] font-medium leading-[24px] text-[var(--white)] tracking-[0px];
}
